.remark li {
    height: 15px;
}

.item-rank-rst {
    background-image: url('../img/remark.png');
    background-repeat: no-repeat;
    float: left;
    width: 64px;
    height: 12px;
    margin: 3px 12px 0 0;
    text-indent: -9999px;
    overflow: hidden;
}
.irr-star50 {
    background-position: 0 0;
}
.irr-star45 {
    background-position: 0 -17px;
}
.irr-star40 {
    background-position: 0 -34px;
}
.irr-star35 {
    background-position: 0 -51px;
}
.irr-star30 {
    background-position: 0 -68px;
}
.irr-star20 {
    background-position: 0 -85px;
}
.irr-star10 {
    background-position: 0 -102px;
}
.irr-star0 {
    background-position: 0 -119px;
}